body{
    background-color: #0f0f0f;
    color: #d4d4d4;;
    font-family: sans-serif;
    margin:0;
}
.blog{
    background-color: #1b1b1b;
}
.aside-blog{
    background-color: #2a2a2a;
    padding: 1px 25px 19px;
}
a{
    color:#ffdd62
}
footer{
    height: 100px;
}
code{
    color: #ff6262;
}