body{
    background-color: #0f0f0f;
    color: #d4d4d4;;
    font-family: sans-serif;
    margin:0;
}
article{
    padding-bottom: 25px;
}
.blog{
    background-color: #1b1b1b;
    margin-bottom: 15px;
}
.aside-blog{
    background-color: #2a2a2a;
    padding: 1px 25px 19px;
}
a{
    color:#ffdd62
}
footer{
    height: 100px;
}
.html{
    color: #ff6262;
}
.css{
    color: #1eabef;
}
.code-block{
    background: #2a2a2a;
    padding: 14px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 black inset;
}
.css-block{
    background: #2a2a2a;
    padding: 14px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 black inset;
}
img{
    max-width: 100%;
}