@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body{
	font-family: 'Comfortaa', cursive;
	background: #b5b4b433;
}
.style-left-col{
	border-right: solid 1px #e2e2e2;
}
.photo{
  width: 100%;
  max-width: 150px;
  margin-left: auto;
  display: block;
}
.alain-right{
	text-align: right;
}
.bg-w{
	background: white;
}
.style-left-col h2{
	font-size: 1em;
}
.p-top{
	padding-top: 20px;
}